@model FilmLibrary.Models.ModelView.FilmViewModel

@{
    Layout = "_Layout";
}

<div class="container">
    <h2>Редактирование фильма</h2>
    <form method="post" asp-controller="Films" asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="CurrentUserId" />
        <div>
            <label asp-for="Title"></label><br />
            <input type="text" asp-for="Title" value="@Model.Title" />
            <span asp-validation-for="Title"></span>
        </div>
        <div>
            <label asp-for="Description"></label><br />
            <input type="text" asp-for="Description" value="@Model.Description" />
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <label asp-for="Producer"></label><br />
            <input type="text" asp-for="Producer" value="@Model.Producer"/>
            <span asp-validation-for="Producer"></span>
        </div>
        <div>
            <label asp-for="YearOfIssue"></label><br />
            <input type="text" asp-for="YearOfIssue" value="@Model.YearOfIssue"/>
            <span asp-validation-for="YearOfIssue"></span>
        </div>
        <div>
            <label asp-for="PosterPath"></label><br />
            <input type="text" asp-for="PosterPath" value="@Model.PosterPath" />
            <span asp-validation-for="PosterPath"></span>
        </div>
        <div>
            <input type="submit" value="Create" />
        </div>
    </form>
</div>