@model FilmLibrary.Models.ModelView.FilmViewModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="~/Uploads/@Model.PosterPath" alt="Poster" />
        </div>
        <div class="col">
            <label asp-for="Title"></label>
            <p class="Info-film">@Model.Title</p>
            <label asp-for="Description"></label>
            <p class="Info-film">@Model.Description</p>
            <label asp-for="Producer"></label>
            <p class="Info-film">@Model.Producer</p>
            <label asp-for="YearOfIssue"></label>
            <p class="Info-film">@Model.YearOfIssue</p>

            @if (User.Identity.IsAuthenticated && Model.UserId == Model.CurrentUserId)
            { 
                <a asp-action="Edit" asp-controller="Films" asp-route-id="@Model.Id">Редактировать</a>
            }
        </div>
    </div>
</div>